// Profile splash styles

.splash_img
	float: right
	margin-left: 2em

.splash_bio
	min-height: 315px
	text-align: center
	padding-top: 3em
	box-sizing: border-box
	font-size: inherit
	line-height: inherit

.resume
	display: inline-block
	font-size: 1.4em
	line-height: 2.2em

// My Works

.carousel-inner 
	.item
		margin: 1em 0
		border: 1px solid $text-light
	.pt-cv-carousel-caption
		top: 230px
	.hover .pt-cv-carousel-caption
		top: -1px

// Contact Form Size Diffs

#ninja_forms_field_6_div_wrap,
#ninja_forms_field_7_div_wrap,
#ninja_forms_field_8_div_wrap
	display: inline-block
	width: 50%
	box-sizing: border-box
	float: left

#ninja_forms_field_6_div_wrap,
#ninja_forms_field_8_div_wrap
	padding-right: 1em

#ninja_forms_field_7_div_wrap
	padding-left: 1em

#ninja_forms_field_9_div_wrap
	float: left
	width: 100%